<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TafWeb.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Hlavní stránka
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="onas">
                <span class="oi oi-plus" aria-hidden="true"></span> O nás
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="videa/svatby">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Svatební videa
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="videa/plesy">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Plesová videa
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="videa/ostatni">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ostatní eventová videa
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
