.showreel {
    margin: 0;
    position: relative;
    padding-bottom: 0;
}

.img-people {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .img-people {
        margin-bottom: -2.5rem;
    }
}

@media (min-width: 1024px) {
    .img-people {
        margin-top: -2rem;
    }

        .img-people img {
            max-height: 55vh;
        }
}
