@page "/"
@inject HttpClient Http

<PageTitle>Index</PageTitle>

@if (aboutUsMainPageModel is not null)
{
    <iframe width="560" height="315" src=@aboutUsMainPageModel.ShowReelVideoUrl title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <h1>Kdo jsme?</h1>
    @foreach (var paragraph in aboutUsMainPageModel.ShortDesctiptionParagraphs)
    {
        <p>@paragraph</p>
    }
}
else
{
    <p>Loading...</p>
}

@code {
    AboutUsMainPageModel? aboutUsMainPageModel;

    protected override async Task OnInitializedAsync()
    {
        aboutUsMainPageModel = await Http.GetFromJsonAsync<AboutUsMainPageModel>(ApiEndpoints.AboutUsMainUrl);
    }
}